.loginContainer{
  width: 20%;
  height: 12.5rem;
  justify-content: center;
  padding-top: 0px;
  min-width: fit-content;
  position: relative;
  transform: none;
  top: 0;
  left: 0;
}
.loginPage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
h2{
    font-size: 1.5rem;
    color: #141b22;
}
.createButton{
    padding: 0.5rem;
}
.userField
{
    padding: 0.75rem 1.25rem;
  font-size: 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: #ded8ee;
  border-radius: 6px;
  text-align: center;
  outline: transparent;
  width: 85%;
  transition: border-color calc(var(--transition, 0.2) * 1s) ease;
}
h4{
    font-size: 0.8rem;
    color:#a0a0a0;
    margin-top: -0.625rem;
}
