.formField{
    width: 97%;
  border-radius: 6px;
  border-color: gray;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  outline: none;
}
.back{margin: 0 5rem;}
textarea{
    resize: none;
    height: 100px;
}
.xs{
    width: 20%;
}
.challenge{
   width: 50%;
   height: fit-content;
}
.tags:hover{
    border: 2px solid white;
}
.tags.selected{
    border: 2px solid;
}