/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');
html{
  font-size: 16px;
  height: 100%;
}
body{
  height: 95%;
}

body{
    background: #eaeef6;
    font-family: 'Spline Sans', sans-serif;
}
.backBtn{
  border-radius: 6px;
  background: #8080804f;
  width: 3.75rem;
  padding: 0.2rem;
  cursor: pointer;
}
.createButton{
    background-color: #4133B7;
    color: white;
    font-weight: 500;
    font-size: 1.125rem;
    border: 0;
    padding: 1em;
    border-radius: 6px;
    cursor: pointer;
  }
  .challenge {
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25);
  background-color: white;
  padding: 1.5rem;
  position: relative;
  }
  .container{
    position: relative;
    gap:10px;
   position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);}
  .tagsContainer {
    display: flex;
    gap: 0.6125rem;
    font-size: 0.75rem;
  }
  .tags{
    display: inline-block;
    background-color: #f1eeff;
    color: #6558d3;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.875rem;
    padding: 0.5em 0.75em;
    line-height: 1;
    border-radius: 6px;
  }
