
/* Inline #3 | http://localhost:4200/home */

.homePage {
    display: flex;
    flex-direction: column;
  }
  .noChallenge{
    font-size: 2rem;
    text-align: center;
    margin-top: 10rem;
  }
  .noChallenge span{
    display: block;
    margin-bottom: 1rem;
  }
  .sorting{
    width: 20%;
    align-self: flex-end;
    margin-right: 10%;
    z-index: 200;
  }
  .votingCount{
    display: flex;
    font-size: 1rem;
    position: absolute;
    top: 85%;
    gap: 0.5rem;
    color: #a0a0a0;
  }
  fa-icon{
    font-size: 1.5rem;
    cursor: pointer;
    color: #a0a0a0;
  }
  .votingCount button,.order{
    outline: none;
    background: transparent;
    border: none;
  }
  .logout{
    margin: 0 5rem;
  }

/* Inline #7 | http://localhost:4200/home */
.creationContainer{
  margin: auto;
  text-align: center;
  width: 100%;
}
.createButton{
  background-color: #4133B7;
  width: 20%;
  color: white;
  font-weight: 500;
  font-size: 1.125rem;
  border: 0;
  padding: 1em;
  border-radius: 6px;
}

.dateContainer {
  font-size: 0.8rem;
  color: gray;
  position: absolute;
  top: 90%;
  right: 2%;
  }
  .selected{
    color: blue;
  }
  
  #challengeContainer {
    margin: 2rem auto;
    display: grid;
    gap: 10px;
    align-self: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    width: 90%;
  }
  
  .challenge {
    height: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25);
  background-color: white;
  padding: 1.5rem;
  position: relative;
  }
  
  .header {
    font-size: 1.5rem;
    color: #141b22;
    margin-top: 1rem;
  }
  

  
  .description {
    margin-top: 1rem;
    font-size: 1.2rem;
    color:#a0a0a0;
  }
  
  
  
  /* Element | http://localhost:4200/ */


 
  